<app-adminheader></app-adminheader>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li aria-current="page" class="breadcrumb-item active">Add Course</li>
    </ol>
</nav>
<div class="mt-5"></div>
<div class="col-lg-8 m-auto">
    <div class="agileits-grid">
        <div class="content-top-agile">
            <h3>New Course Details</h3>
        </div>
        <div class="content-bottom">
            <form #cd="ngForm">
                <div class="field_w3ls">
                    <div class="field-group"><input id="text1" ngModel name="Name" placeholder="Course Name" required="" type="text" value=""></div>
                    <div class="form-row">
                        <div class="col">
                            <div class="field-group"><input id="email" ngModel name="Pic" placeholder="Thumbnail Pic URL" required="" type="email" value=""></div>
                        </div>
                        <div class="col">
                            <div class="field-group"><input id="email" ngModel name="Video" placeholder="Video Path" required="" type="email" value=""></div>
                        </div>
                    </div>
                    <div class="field-group"><textarea id="phone" ngModel name="Des" placeholder="Details" required="" type="text" value=""></textarea></div>
                </div>
                <div class="wthree-field"><input id="saveForm" name="saveForm" (click)="Add(cd)" type="submit" value="Add This Course">
                </div>
            </form>
        </div>
    </div>
</div>
<app-adminfooter></app-adminfooter>