<header>
    <div class="container">
        <!-- top header -->
        <section class="row top_header pt-3">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6 buttons">
                <p><i class="fas mr-1 fa-phone"></i>Hello! Admin</p>
                <button type="button" class="btn btn-info btn-lg-block w3ls-btn px-4 text-capitalize mr-2" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">
                    Logout
                </button>
            </div>
        </section>
        <!-- top header -->

        <!-- nav -->
        <nav class="navbar navbar-expand-lg navbar-light py-sm-4 py-2">
            <!-- logo -->
            <h1>
                <a class="navbar-brand" href="index.html"> <i class="fas fa-cog"></i> DashBoard
                </a>
            </h1>
            <!-- //logo -->
            <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- main nav -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto text-center">
                    <li class="nav-item   mr-lg-3">
                        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link" routerLink="/addcourse" routerLinkActive="active">Add Course</a>
                    </li>
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link" routerLink="/services" routerLinkActive="active">View Feedback</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="inner_banner layer" id="home">
    <div class="container">
        <div class="agileinfo-inner">
            <h2 class="text-center text-white">
                Admin Panel
            </h2>
        </div>
    </div>
</div>